body{
    background-color: #f4f6f9
}
.product{
    background-color: #6c63ff;
    color: white;
    text-align: center;
    padding: 10px;


}
#price{
    font-size: 20px;
    color: #e63946;
    font-weight: bold;
}

.card{
    background-color:#ffffff;
    width: 300px;
    height: auto;
    padding: 15px;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    transition: 0.3s;
}
.card:hover{
    outline: 5px solid gray;
}

.container{
    display: flex;
    gap: 10px;
}
.button{
    position: relative;
    
}

